.background_color_full {
  background-color: #eeeeee !important;
}
.container_customize {
  width: 90%;
}
.background_color_dark_blue {
  background-color: #1a29fb !important;
}
.background_color_dark_red {
  background-color: #ff0040 !important;
}
.background_image {
  background-image: url(assets/user_review_image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 285px;
}
.background_color_dark_gray {
  background-color: #d9d9d9 !important;
}
.background_color_dark_lable {
  background-color: #f5f5f5 !important;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #ffffff !important;
  --bs-nav-pills-link-active-bg: #000000 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white !important;
}
.star-rating {
    direction: rtl;
    display: inline-block;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 24px;
    padding: 0 2px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.rate {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 40px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}




