@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: Inter;
}

.text_decoration_remover {
  text-decoration: none;
}
.font_color_black {
  color: #000000;
}
.font_color_white {
  color: #ffffff;
}
.background_color_white {
  background-color: white;
}
.background_color_grey {
  background-color: #eeeeee;
}
.background_color_black {
  background-color: #000000;
}
.main_image_warpper {
  background-image: url(./assets/main_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 280px;

  overflow: hidden;
}

.image_filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.76));
}

.main_banner_content {
  height: 95%;
  position: relative;
  z-index: 2;
}
.banner_content {
  width: 80%;
}
.last_seen_image_wrapper,
.profile_image_wrapper {
  height: 30px;
}
.view_icon {
  height: 50px;
  width: 50px;
}
.view_box_wrapper {
  height: 20px;
  width: 20px;
}

.hr_line {
  opacity: 1;
}

/* ----------------------------- section one ends------------------------------------ */
.background_color_full {
  background-color: #eeeeee !important;
}
.container_customize {
  width: 90%;
}
.background_color_dark_blue {
  background-color: #1a29fb !important;
}
.background_color_dark_red {
  background-color: #ff0040 !important;
}
.background_image {
  background-image: url(assets/user_review_image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 285px;
}
.background_color_dark_gray {
  background-color: #d9d9d9 !important;
}
.background_color_dark_lable {
  background-color: #f5f5f5 !important;
}

.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #ffffff !important;
  --bs-nav-pills-link-active-bg: #000000 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white !important;
}
.star-rating {
  direction: rtl;
  display: inline-block;
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
  font-size: 24px;
  padding: 0 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.rate {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 40px;
  font-weight: 300;
  color: #ffd600;
  cursor: pointer;
}

.rating > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}
